<!doctype html>
<html lang="en">
<head>
    <%- include('../partials/head', {title: 'About me'}); %>
</head>
<body>
<div class="d-flex flex-column min-vh-100">
    <%- include('../partials/header'); %>

    <main class="flex-fill">
        <div class="p-5 mb-4 bg-light rounded-3">
            About me
        </div>
    </main>


    <footer class="footer mt-auto py-3 bg-light">
        <%- include('../partials/footer'); %>
    </footer>
</div>
<%- include('../partials/footer-scripts'); %>
</body>
</html>
